<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"
    ><strong>{{ tareasCounter }}</strong> Tasks</span
  >
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    @for (item of filtros; track $index) {
    <li (click)="changeFilter(item)">
      <a href="#/" [class.selected]="item.filtro === filtroActual.filtro">
        {{item.filtro | titlecase }}
      </a>
    </li>
    }
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="cleanAll()">Clean completed</button>
</footer>
